<style type="text/css">
  #svg-container {
    height: 700px;
    width: 700px;
  }
  
</style>
<div id="svg-container">
  
</div>

<div class="footer">
  <p>Daily Planner</p>
</div>

<script>

// remember to declare all your variables up here first
var $container = $('#svg-container');
var svgWidth = $container.innerWidth(),
    svgHeight = $container.innerHeight(),
    leftMargin = 75, // so event rectangles don't cover time text
    borderSize = 3
    eventCanvasWidth = svgWidth - leftMargin;


// hardcoded array of objects with event details
var events = [
                {
                  name: 'early',
                  start: 0,
                  end: 1
                },
                {
                  name: 'other',
                  start: 3,
                  end: 4
                },
                {
                  name : 'breakfast 2',
                  start: 7,
                  end  : 9,
                  isPlaced: false
                },
                {
                  name : 'breakfast',
                  start: 8,
                  end  : 9,
                  isPlaced: false
                },
                {
                  name : 'lunch',
                  start: 12,
                  end  : 18,
                  isPlaced: false
                },
                                {
                  name: 'turmoil',
                  start: 2,
                  end  : 20
                },
                {
                  name : 'house party',
                  start: 18,
                  end  : 22,
                  isPlaced: false
                },
                {
                  name: 'watch out!',
                  start: 16,
                  end  : 18
                },
                

            ];


// an array of objects holding how many events occur in an hour
// has 'total' amount of events that occur in that hour
// and 'current' which is the amount of events on chart currently
// this is for calculating the x position and width correctly

var eventsInHour = {};

var eventsInTimeframe = function(event, query) {
  // query is string, should be either 'current' or 'total'
  var currentLargest = 0, i;

  // should check here
  if (query !== 'total' && query !== 'current') {
    alert('query should be total or current');
    return;
  }

  for (i=event.start;i<=event.end;i+=1) {
    if (eventsInHour[i][query] > currentLargest) {
      currentLargest = eventsInHour[i][query];
    }
  }

  return currentLargest;
};

var getWidth = function (event) {
  // goes through hours
  // width is equal to largest amount of total events that occur in
  // a time frame
  var currentLargest = eventsInTimeframe(event, 'total');

  var elementWidth = Math.floor(eventCanvasWidth / currentLargest);

  event.width = elementWidth;

  console.log(elementWidth);
  // calculate width, floor for edge cases
  return elementWidth;
};


// updates events An Hour
var createEventsInHours = function () {
  // iterate through each event marking its hours
  for (var j=0; j<events.length; j+=1) {
    var event = events[j];

    for (var i=event.start;i<=event.end;i+=1) {
      // if eventsInHour has that hour
      if (i in eventsInHour) {
        eventsInHour[i].total += 1;
      } else {
        // create new object in eventsInHour
        eventsInHour[i] = {total: 1, current: 0};
      }
    }
  }
  
  // go through and assign total max width per element
  // per houra
  $.each(eventsInHour, function (index) {
    
    eventsInHour[index].maxWidthPerElement = Math.floor(eventCanvasWidth / eventsInHour[index].total);
    eventsInHour[index].widthLeft = eventCanvasWidth;
  });

  console.log(eventsInHour);
  return;
};

var updateHours = function(event) {
  // update
    for (var i=event.start;i<=event.end;i+=1) {
      eventsInHour[i].current += 1;
    }

}

// create eventsInHours object
createEventsInHours();

// sorts events by start time
// this isn't strictly necessary but eliminates some edge cases
// currently where a long event that starts before everything
// else will be placed in the middle covering other events
events.sort(function(a, b) {
  return a.start - b.start;
});


/*
  var x = d3.scale.linear() // creates linear scale
            .domain([0, d3.max(events)]) // domain
            .range([0 , svgWidth]);
*/

  var y = d3.time.scale()
            .domain([0,24])
            .range([0, svgHeight]);

  y.ticks(d3.time.hour, 1);

  

  // SVG we will draw to
  
  var svg = d3.select('#svg-container')
              .append('svg')
              .attr('class', 'chart')
              .attr('width', svgWidth)
              .attr('height', svgHeight)

  var axisGroup = svg.append('g')

  // Draw y-axis ticks
  axisGroup.selectAll('.axis')
           .data(d3.range(0, 24)) // 24 hours
           .enter().append('line')
           .attr('x1', -5)
           // Round and add 0.5 to fix anti-aliasing effects
           .attr("y1", function(d) { return y(d) + 0.5; })
           .attr("x2", svgWidth)
           .attr("y2", function(d) { return y(d)+ 0.5; })
           .attr("stroke", "lightgray")
           .attr("class", "yTicks");
           
  // Draw y-axis labels of hours
  axisGroup.selectAll("text.yAxisLeft")
          .data(d3.range(0, 24))
          .enter()
          .append("text")
          .text(function(d) { return d + ":00";})
          .attr("x", 60)
          .attr("y", function(d) { return y(d); })
          .attr("dy", "15")
          .attr("class", "yAxisLeft")
          .attr("text-anchor", "end");


  var eventCanvas = svg.append('svg')
                      .attr('x', leftMargin)
                      .attr('width', eventCanvasWidth)
                      .attr('height', svgHeight);



  // draw a rectangle event
  var eventRectangles = eventCanvas.selectAll('rect')
    .data(events)
     .enter().append('rect')
     .attr("fill", function() { return "hsl(" + Math.random() * 360 + ", 100%, 75%)" })
     .attr('stroke', '#333')
     .attr('stroke-width', 3)
     //.transition().duration(1000).delay(1000)
     .attr('y', function (d, index) { return y(d.start) + 2;})
     .attr('height', function (d, index) { return y((d.end - d.start + 1)); })
     .attr('width', function (d) { 
          // var elWidth = getWidth(d);
          // return elWidth;
          // console.log(d.width);
          var currentMin = eventCanvasWidth,
              minIndex   = 0;
          // go through get largest width
          for (var i=d.start;i<=d.end;i+=1) {
            if (eventsInHour[i].maxWidthPerElement < currentMin) {
              currentMin = eventsInHour[i].maxWidthPerElement;
              minIndex = i;
            }
          }
          // subtract this width from widthLeft in all hours


          console.log(d.name + ' ' + currentMin);
          return currentMin;
        })
     .attr('x', function (d, index) {
          var xPos = getWidth(d) * eventsInTimeframe(d, 'current');
          // if xPos is less than leftMargin we add to it so 
          // it won't cover text
          updateHours(d); // mark that we're placing it


          // should be 3px from 

          console.log(eventsInTimeframe(d, 'current'));
          d.location = xPos; // add location key to object for reference on the text
          return xPos;
        });

  // Draw y-axis labels of hours
  eventCanvas.selectAll("text")
          .data(events)
          .enter()
          .append("text")
          .text(function(d) { return d.name;})
          .attr('x', function (d, index) {

            return d.location + 100;
          })
          .attr('y', function (d, index) { return y(d.start) + 2;})
          .attr("dy", "15")
          .attr("class", "yAxisLeft")
          .attr("text-anchor", "end");    
              

</script>